.game-container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.games {
    border: 7px solid gray;
    border-radius: 10px;
    width: 23%;
    height: 350px;
    background-color: rgb(51, 51, 51);
    margin: 5px;
}

.titleGame, .href, .text {
    display: flex;
}

.game-container h3, .game-container p, .game-container a {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.games a{
    color: aqua;
    text-decoration: underline;
}