.pro-container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    border: 7px solid gray;
    border-radius: 10px;
    width: 23%;
    height: 350px;
    background-color: rgb(51, 51, 51);
    margin: 5px;
}

.titleProject, .href, .text {
    display: flex;
}

.pro-container h3, .pro-container p, .pro-container a {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.projects a{
    color: aqua;
    text-decoration: underline;
}